.header {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    color: white;
    font-family: 'Nunito', sans-serif;
}

*,  *::before, *::after {
    box-sizing: border-box;
}

/* Card */

.card {
    box-shadow: #d3d3d3 3px 5px 12px 4px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    height: auto;
}

.card-b {
    flex: 1 1 auto;
}


.card-b {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.50rem 1.25rem 0.50rem 1.25rem;
}
.card-h {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.border-none {
    border: none!important;
}

card[theme="dark"] {
    color: white;
    border: 1px black solid;
    background: #303030;
}

card[theme="dark"] > .card-h{
    border: none;
}

.card.dark {
    color: white;
    border: 1px black solid;
    background: #303030;
}

.card.dark > .card-h{
    border: none;
}

card[theme="warning"] {
    color: black;
    background: yellow;
}

card[theme="warning"] > .card-h{
    border: none;
}

.card.dark {
    color: white;
    border: 1px black solid;
    background: #303030;
}

.card.dark > .card-h{
    border: none;
}

.expandable-1 {
    transition-duration: 500ms;
    transition: scale(1.1) 0.5s linear;
    -o-transition: scale(1.1) 0.5s linear;
    -ms-transition: scale(1.1) 0.5s linear;
    -moz-transition: scale(1.1) 0.5s linear;
    -webkit-transition: scale(1.1) 0.5s linear;
}

.expandable-1:hover {
    transition-duration: 500ms;
    transform: scale(1.1);
}
