/* Headers */
.header {
    background: #0073cf;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 1rem 0 1rem 1.5rem;
}

.header[theme="dark"], .header.dark {
    display: flex;
    background: #461a1a;
}

/* Navbars */

.navbar,.navbar-right,.navbar-left {
    padding-right: 4rem;
    display: flex;
    align-items: baseline;
}

.navbar-right {
    float: right;
}

.navbar, .navbar-right, .navbar-left {
    flex-grow: 100;
    display: flex;
    justify-content: flex-end;
}

.navbar > *, .navbar-left > *, .navbar-right > *{
    padding-left: 12px;
}

.nav-item-animated {
    transition-duration: 500ms;
}

.nav-item-animated:hover {
    cursor: pointer;
    font-weight: bold;
    transition-duration: 500ms;
}

.nav-items-animated > * {
    transition-duration: 500ms;
}

.nav-items-animated > *:hover {
    cursor: pointer;
    font-weight: bold;
    transition-duration: 500ms;
}

*,  *::before, *::after {
    box-sizing: border-box;
}

/* Card */

.card {
    box-shadow: #d3d3d3 1px 1px 13px 1px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    height: auto;
}

.card-b {
    flex: 1 1 auto;
}


.card-b {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.50rem 1.25rem 0.50rem 1.25rem;
}
.card-h {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.border-none {
    border: none!important;
}

card[theme="dark"] {
    color: white;
    border: 1px black solid;
    background: #303030;
}

card[theme="dark"] > .card-h{
    border: none;
}

.card.dark {
    color: white;
    border: 1px black solid;
    background: #303030;
}

.card.dark > .card-h{
    border: none;
}

.card.warning, .card[theme="warning"], card[theme="warning"] {
    color: black;
    background: yellow;
}

card[theme="warning"] > .card-h{
    border: none;
}

.card.dark {
    color: white;
    border: 1px black solid;
    background: #303030;
}

.card.dark > .card-h{
    border: none;
}

.expandable-1 {
    transition-duration: 500ms;
    transition: scale(1.1) 0.5s linear;
    -o-transition: scale(1.1) 0.5s linear;
    -ms-transition: scale(1.1) 0.5s linear;
    -moz-transition: scale(1.1) 0.5s linear;
    -webkit-transition: scale(1.1) 0.5s linear;
}

.expandable-1:hover {
    transition-duration: 500ms;
    transform: scale(1.1);
}


/* .hero-section */

.hero-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.hero-section > .hero-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: xx-large   ;
    width: 100%;
    /* border: 1px black solid; */
}


.hero-section > .hero-subtitle {
    display: flex;
    justify-content: center;
    font-size: larger;
    width: 100%;
    /* border: 1px black solid; */
}

.hero-divider {
    margin-top: 10px;
    width: 60%;
}

.hero-button {
    box-shadow: #d3d3d3 0px 0px 2px 0px;
    background-color: #0073cf;
    color: white;
    border-radius: 100px;
    margin-top: 2rem;
    cursor: pointer;
    padding: 5px 12px 5px 12px;
}