/* Typography and colors */

.inline {
    display: inline;
}

.bg-white {
    background: white!important;
}

.bg-black {
    background: black!important;
}

/* Blue */
.blue-100 {
    background: #add8e6!important;
}

.blue-200 {
    background: #99badd!important;
}

.blue-300 {
    background: #0892d0!important;
}

.blue-400 {
    background:#0073cf!important;
}

.blue-500 {
    background: #0f52ba!important;
}

.blue-600 {
    background: #0047ab!important;
}

.blue-700 {
    background: #002fa7!important;
}

.blue-800 {
    background: #0000AA!important;
}

.blue-900 {
    background: #000080!important;
}

.blue-1000 {
    background: #000133!important;
}

/* Typography and colors */

.inline {
    display: inline;
}

.block {
    display: block;
}

/* Red */
.red-100 {
    background: #f88379!important;

}

.red-200 {
    background: #FA6961!important;
}

.red-300 {
    background: #cd5c5c!important;
}

.red-400 {
    background:#E44D2E!important;
}

.red-500 {
    background: rgb(202, 74, 23)!important;
}

.red-600 {
    background: rgb(246, 0, 0)!important;
}

.red-700 {
    background:rgb(233, 30, 3)!important;
}

.red-800 {
    background:rgb(202, 44, 23)!important;
}

.red-900 {
    background: rgb(207, 0, 14)!important;
}

.red-1000 {
    background: rgb(143, 48, 31)!important;
}

/* ________________________________________- */
.dark-100 {
    background: #702424!important;
}


/* Blue */
*.text-blue-100 {
    color: #add8e6!important;
}

*.text-blue-200 {
    color: #99badd!important;
}

*.text-blue-300 {
    color: #0892d0!important;
}

*.text-blue-400 {
    color:#0073cf!important;
}

*.text-blue-500 {
    color: #0f52ba!important;
}

*.text-blue-600 {
    color: #0047ab!important;
}

*.text-blue-700 {
    color: #002fa7!important;
}

*.text-blue-800 {
    color: #0000AA!important;
}

*.text-blue-900 {
    color: #000080!important;
}

*.text-blue-1000 {
    color: #000133!important;
}

/* Typography and colors */

*.text-white {
    color: white!important;
}

*.text-black {
    color: black!important;
}

*.text-inline {
    display: inline!important;
}

*.text-block {
    display: block!important;
}

/* Red */
*.text-red-100 {
    color: #f88379!important;

}

*.text-red-200 {
    color: #FA6961!important;
}

*.text-red-300 {
    color: #cd5c5c!important;
}

*.text-red-400 {
    color:#E44D2E!important;
}

*.text-red-500 {
    color: rgb(202, 74, 23)!important;
}

*.text-red-600 {
    color: rgb(246, 0, 0)!important;
}

*.text-red-700 {
    color:rgb(233, 30, 3)!important;
}

*.text-red-800 {
    color:rgb(202, 44, 23)!important;
}

*.text-red-900 {
    color: rgb(207, 0, 14)!important;
}

*.text-red-1000 {
    color: rgb(143, 48, 31)!important;
}
