.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.jcc {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.aic {
    align-items: center;
}

.wrap {
    flex-wrap: wrap!important;
}

.fit-4 > * {
    width: 25%;
}

.flex-grow-100 {
    flex-grow: 100;
}