.markedowned > p > code {
    background-color: #F3F4F4!important;
    padding: 3px;
    border-radius: 3px;    
    display: inline;
}

.markedowned {
    color: black;
}

.markedowned.markdown-text-black > p > code, .markedowned.markdown-text-black > blockquote{
    color: black;
}

blockquote {
    background-color: #F3F4F4!important;
    border-left: 5px #0892d0 solid;
    margin: 0 0 0 0;
}

blockquote > p > code{
    padding:3px;
    border-radius: 3px;
    background-color: rgb(103, 223, 223)!important;
    margin: 0 0 0 4px;
}

blockquote > * {
    padding: 4px 0 4px 0;
}

blockquote > * {
    padding-left: 5px;
}

.markedowned > * {
    margin-top: 0;
    margin-bottom: 0;
}

.markedowned > p {
    margin-left: 0.10rem;
    display: inline;
}