/* Elements */
.content {
    /* Full width element */
    width: 100%;
}

.content-3 {
    /* 3/4 screen width */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.h-25 {
    height: 25%;
}

.h-50 {
    height: 50%;
}

.h-75 {
    height: 75%;
}

.h-100 {
    height: 100%;
}

present {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.scroll-y {
    overflow-y: scroll;
}